.intro-loop {
  background: #000;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.intro-loop img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.intro-loop p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(167, 167, 167);
  font-family: "lowres";
  font-size: 25px;
}

.first-marquee-text {
  font-family: "lowres";
  position: absolute;
  margin-left: 50px;
  color: #102d39;
}

.second-marquee-text {
  font-family: "lowres";
  position: absolute;
  margin-left: 300px;
  color: #102d39;
  text-align: center;
  background: url(../img/distorted_text.png);
  height: 100%;
  width: 200px;
}

.hidden-fade-out-05s {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.hidden {
  display: none;
}

.authorize {
  position: absolute;
  text-align: center;
  color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 5px;
  font-size: 40px;
  text-shadow: 3px 6px #000, 0px -1px #000, 0px 1px #000, -1px 0px #000,
    1px 0px #000, -1px -1px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000;
  color: white;
}

.active {
  color: #f8a030;
}

.load {
  position: absolute;
  text-align: center;
  color: white;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 5px;
  font-size: 40px;
  text-shadow: 3px 6px #000, 0px -1px #000, 0px 1px #000, -1px 0px #000,
    1px 0px #000, -1px -1px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000;
}

.animate-to-middle-1s {
  top: 50% !important;
  transition: top 1s;
}

.animate-to-top-right-1s {
  left: 80% !important;
  top: 15% !important;
  transition: top 1s, left 1s;
}

.mask {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(../img/load_screen_mask.png);
  background-size:cover
}

.intro-load-screen {
  height: 100%;
}

.intro-load-screen .logo {
  position: absolute;
  top: 45%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.intro-load-screen .text-container-left {
  position: absolute;
  font-family: "lowres";
  color: #004165;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 50px;
  margin-bottom: 50px;
}

.text-container-right .wrap-to-left {
  position: absolute;
  margin-left: -250px;
  margin-top: -90px;
}

.intro-load-screen .text-container-right {
  position: absolute;
  font-family: "lowres";
  color: #004165;
  bottom: 0;
  right: 0;
  margin-right: 35px;
  margin-bottom: 35px;
}

.text-container-right .arrow-container,
.connect-container {
  display: inline-block;
  padding-right: 10px;
}

.text-container-right .connect-container {
  transform: translateY(-20px);
}

.text-container-right .sevrer-container,
.host-container {
  display: inline-block;
}

.intro-load-screen .text-container-left img {
  margin: 0 auto;
  display: block;
  width: 35px;
}

.intro-load-screen .text-container-right img {
  width: 25px;
}

.intro-load-screen .box {
  width: 45px;
  position: absolute;
  top: 71.5%;
  left: 47.5%;
  transform: translate(-50%, -50%);

  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.intro-load-screen .box-background {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 71.5%;
  left: 47.5%;
  z-index: -1;
  background-color: #7d16f4;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-text-marquee-first {
  animation: marq-first 5s linear infinite;
  opacity: 0.7;
}

@keyframes marq-first {
  0% {
    transform: translate(0%, 100%) rotate(10deg);
  }
  100% {
    transform: translate(50%, -100%) rotate(10deg);
  }
}

.animate-text-marquee-second {
  animation: marq-second 5s linear infinite;
  opacity: 1;
}

@keyframes marq-second {
  0% {
    transform: translate(0%, 100%) rotate(-20deg);
  }
  100% {
    transform: translate(-200%, -100%) rotate(-20deg);
  }
}
